@use 'styles/style.scss' as *;

.popup {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 24px;
  justify-content: center;
  align-items: center;
}

.text {
  @include semiBoldText;
  color: $color-grey;
}

.circle {
  margin: 26px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $color-emer-alpha;
}
