$color-white: #ffffff;
$color-white-grey: #ebebeb;
$color-tertiart: #a6a6a6;
$color-secondary: #666666;
$color-grey: #333333;
$color-red: #ff0000;
$color-purple: #5558fa;
$color-blue-grey: #212830;

$color-black-alpha4: rgba(0, 0, 0, 0.04);
$color-black-alpha8: rgba(0, 0, 0, 0.08);
$color-black-alpha16: rgba(0, 0, 0, 0.16);
$color-black-alpha24: rgba(0, 0, 0, 0.24);
$color-black-alpha32: rgba(0, 0, 0, 0.32);
$color-black-alpha48: rgba(0, 0, 0, 0.48);
$color-emer-alpha: rgba(5, 174, 113, 0.15);
$bg-color-preset: #d5e4f7;
$bg-color-white: #f4f4f5;
